.directory-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem 0;

  input[type="text"] {
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #000;
    color: #eee;

    &::placeholder {
      color: #aaa;
    }
  }

  button {
    padding: 0.5rem 1rem;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: transparent;
    color: #eee;
    cursor: pointer;

    &:hover {
      background-color: #222;
    }
  }

  .upload-button {
    margin-right: 1rem;
  }
}
